
.user__info {
    margin: 0 auto;
    padding-top: 10px;
    width: 80%;
    text-align: center;
}

.status__alert {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    background: #d9ccc6;
    color: #6c615c;
    opacity: 0.7;
}

.status__alert h4 {
    margin: 0;
    padding: 5px;
}

.stamp-box {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.stamp-box__inner {
    width: 45%;
    height: 28vh;
    background: #fff;
}

.stamp-box__item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stamp-box__item button {
    width: 100%;
    height: 100%;
    border: none;
    background: #fff;
    font-size: 18px;
    font-weight: bold;
}

